<p style="color: green"><%= notice %></p>

<h1>Twitter</h1>

<body>
    <div id="container">
        <div id="header2">
            <%= render "header2" %>
        </div>
        <div id="sidebar">
            <%= render "sidebar" %>
        </div>
        <div id="content">
            <%= render "content" %>
        </div>
    </div>
</body>
