/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*h1 { background-color: cyan }*/

h1 {
    font-family: "Arial", "メイリオ";
}

home {
    padding: 5px;
}

dotweet {
    width:800px;
    height:500px;
    background:#33CCFF;
    border-radius:30px;
}

#sidebar {
    font-family: "Arial", "メイリオ";
    font-size: 20px;
    padding: 50px;
    width: 220px;
    float: left;
}

#header2 {
    font-family: "Arial", "メイリオ";
    padding: 30px;
    width: 1000px;
    float: right;
}

#content {
    font-family: "Arial", "メイリオ";
    padding: 10px;
    width: 1000px;
    float: right;
}